@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@import './themes/lavander.css';
@import './themes/mint.css';
@import './themes/sky.css';

@source './node_modules/heroui-native/lib';

@theme {
  /* Open Sans font family */
  --font-normal: 'OpenSans-Regular';
  --font-medium: 'OpenSans-Medium';
  --font-semibold: 'OpenSans-SemiBold';
  --font-bold: 'OpenSans-Bold';
}